In [26]:
### Functions directed learning session

In [46]:
# Import libraries and dependencies
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
%matplotlib inline

In [40]:
def process_numbers(x, y):
    sum_numbers = x + y
    product_numbers = x*y
    processed_numbers = sum_numbers + product_numbers
    return processed_numbers

In [41]:
process_numbers(3, 4)

19

In [47]:
df = pd.read_csv(Path('Resources/Salary_Data.csv'))

In [44]:
def is_experienced(years):
    if years < 2:
        return 'low'
    elif years < 5:
        return 'medium'
    else:
        return 'high'

In [45]:
is_experienced(4)

'medium'

In [60]:
df['AddYearsExperience'] = df['YearsExperience'].apply(lambda x: x + 2)

In [61]:
df.head()

   YearsExperience   Salary Category  AddYearsExperience
0              1.1  39343.0      low                 3.1
1              1.3  46205.0      low                 3.3
2              1.5  37731.0      low                 3.5
3              2.0  43525.0   medium                 4.0
4              2.2  39891.0   medium                 4.2

In [57]:
def add_years(years):
    return years + 2