 # Instructor Do: Portfolio Optimization

In [53]:
# Initial imports
import ffn
import pypfopt

from pypfopt.discrete_allocation import DiscreteAllocation, get_latest_prices

In [49]:
# Get list of closing prices for each stock using the ffn library
prices = ffn.get('tsla, amzn, msft', start='2017-01-01')
prices.head()

                  tsla        amzn       msft
Date
2017-01-03  216.990005  753.669983  58.969059
2017-01-04  226.990005  757.179993  58.705212
2017-01-05  226.750000  780.450012  58.705212
2017-01-06  229.009995  795.989990  59.214054
2017-01-09  231.279999  796.919983  59.025597

In [50]:
# Calculate expected returns and sample covariance
mean_return = pypfopt.expected_returns.mean_historical_return(prices)

# Produce a covariance matrix
sample_cov = pypfopt.risk_models.sample_cov(prices)
sample_cov

          tsla      amzn      msft
tsla  0.342289  0.061504  0.069263
amzn  0.061504  0.088060  0.061141
msft  0.069263  0.061141  0.082449

In [51]:
# Optimise for maximal Sharpe ratio
ef = pypfopt.EfficientFrontier(mean_return, sample_cov)
raw_weights = ef.max_sharpe()
cleaned_weights = ef.clean_weights()
ef.save_weights_to_file("weights.csv")  # saves to file
ef.portfolio_performance(verbose=True)

cleaned_weights

Expected annual return: 43.6%
Annual volatility: 28.2%
Sharpe Ratio: 1.48

OrderedDict([('tsla', 0.17307), ('amzn', 0.47468), ('msft', 0.35226)])

In [57]:
# Get discrete allocations
latest_prices = get_latest_prices(prices)

portfolio_amount = 100000

da = DiscreteAllocation(raw_weights, latest_prices, total_portfolio_value=portfolio_amount)
allocation, leftover = da.lp_portfolio()
print("Discrete allocation:", allocation)
print("Funds remaining: ${:.2f}".format(leftover))

Discrete allocation: {'tsla': 17.0, 'amzn': 18.0, 'msft': 182.0}
Funds remaining: $250.25